<%- include ('./layout/header'); %>
    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Your Work Can Not Satisfy Everyone</h2>
          <p>There Are Various Kind Of People Around Us, And You Can Not Please Each And Everyone of them.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/speakers/blog.jpg" class="img-fluid">
          <font color="#64B5F6">This Blog Is Written By Team Anand World</font> </a>
         
          
          

          


          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>You Can Not Please All</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>Here "I" Indicate The Team ANAND WORLD. I Can Write Long Long Paragraph On This Topic, But I Am Not Gonna To Do That, I Will Simply Tell A Real Story On It. That Story Was Told Me By One Of The My Senior, His Story Reall Inspired Me. Hope It Will Also Give You A Very Good Moral.</p>

                <p>In A Small Village There Was An Artist, He Design A Good Painting And Hang It In The Pole At The Square, And He Wrote Along It That 'Tell/Point The Negative Things Of The Painting.</p>
                     <p>People Passing Through The Square, Seen The Painting. Among The People Many Were Artist Too, Some Of Them Really Appreciated The Artist's Work, But Some Of Them Criticise. And Many People Made The Small Dots On The Painting Saying That This Part Of Painting Is Not Good.</p>

                      <p>After Few Days There Was No Any Place To Make New Dot On The Painting. The Painting Was Filled With Dots And Was Not Visible, By Seeing His Painting The Artist Was Dissapointed Not For His Work Was Spoiled But For The People's Reaction.</p>

                      <p>Few Days Later The Artist Made The Same Painting And Again Hang It In The Same Pole At The Same Square, But This Time He Wrote On The Painting Was 'If You Feel Any Negative Things Then Please Make It Correct', And Believe Me There Was Not Found A single Dot Made By The People, Many Of The Months Passed Then Also.</p>

                      <p>Then The Artist Realise That He Can Not Please Everyone, But At The Same Time He Was Very Pleased.</p>

                      <p>This Story Has Direct Relation To Our Daily Life, You Can Connect It In Many Field.</p><br>
                       <p>Trying To Please Everyone Is A Recipe For Stress, Misery And Frustration.</p>
                       <p>You Can't Please Everyone. The Best Thing You Can Do Is Just To Believe In Yourself And Do What You Think Is Right.</p>
 
 
                       <%- include ('./layout/footer'); %>