<%- include ('./layout/header'); %>
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Join Our Team</h2>
          <p>If You Are Very Anthusiastic To Do Graphic Design Work Then You Can Also Be The Part Of Our Team.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="/img/team.jpg" class="img-fluid">

          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Be The Part Of Our Team</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>If You Are Interested In Graphic Design And If You Want To Do Work With Us Then You Can Join Our Team, You Should Have Atleast One Of The Following Skill.</p>
 
             <ul class="join">
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Gimp</li>
                <li>HTML, CSS, JS</li>
             </ul>

             <p>We Will Always Prefer To Dedicated Person Who Enjoy The Work, And Will Be Dedicated To The Given Task</p>

              <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>For More Information Contact Us.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Tamilnadu, INDIA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+91 7987444075</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="/cdn-cgi/l/email-protection#ec85828a83ac89948d819c8089c28f8381"><span class="__cf_email__" data-cfemail="0263666f6b6c42636c636c662f7270636963716a2c616d6f">[email&#160;protected]</span></a></p>
            </div>
          </div>

        </div>
      </div>


    </section>

              

            </div>
          </div>
          
        </div>
      </div>

    </section>

    <%- include ('./layout/footer'); %>