<%-include("layout/header"); %>


<div style="height: 400px; width: 700px; text-align: center;">
    <h3><%= message %></h3>
    <h4>we will reach you shortly</h4>
</div>



<%-include("layout/footer"); %>
