
  </main>
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="../../img/logo.png" alt="TheEvenet">
            <p>Make Your Ideas A Reality. We Design Everything For You Like Posters, Banners, Flex, ID Cards, Visiting Cards, Certificates, T-Shirts, Photo Manupulation Works And Many More, We Feel That Every Small Or  Newly Started Business Should Have A Logo Too. We Also Design Very Professional And Cool LOGOs For Your Brand/Company.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Commited For</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> Best Price</li>
              <li><i class="fa fa-angle-right"></i> Value For Money</li>
              <li><i class="fa fa-angle-right"></i> Punctuality</li>
              <li><i class="fa fa-angle-right"></i> Good Service</li>
              <li><i class="fa fa-angle-right"></i> Your Satisfaction Is Our 1st Priority</li>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#about">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#buy-tickets">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#gallery">Gallery</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="http://eepurl.com/gYixvb">Order</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
             Tamilnadu, <br>
             INDIA<br>
            
              <strong>Phone:</strong> +91 79874444075<br>
              <strong>Email:</strong> admin@anand-prakash.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/ANAND-WORLD-113666423615981/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/a4anandprakash/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright <strong>ANAND WORLD</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
         Designed by anand-prakash.com
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../../lib/jquery/jquery.min.js"></script>
  <script src="../../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../lib/easing/easing.min.js"></script>
  <script src="../../lib/superfish/hoverIntent.js"></script>
  <script src="../../lib/superfish/superfish.min.js"></script>
  <script src="../../lib/wow/wow.min.js"></script>
  <script src="../../lib/venobox/venobox.min.js"></script>
  <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->


  <!-- Template Main Javascript File -->
  <script src="../../js/main.js"></script>
</body>

</html>

